#side div {
    padding-left: 10px;
    margin-bottom: 10px;
}

#side h4 {
    border-bottom: 1px solid darkgray;
}
.scroll {
    background: #ff8e00;
    overflow: scroll;
    border: 1px solid #000;
}
